<section class="search-section">
  <div class="container">
    <button class="search-btn first">first</button>
    <button class="search-btn second">second</button>
    <button class="search-btn third">third</button>
    <button class="search-btn fourth">fourth</button>
  </div>
</section>

<section class="main-section">
  <!-- <div class="slide-right"></div> -->
  <div class="container">
    <div class="recepies-box">
      <!-- <div class="recepie-card">
        <img
          src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825_1280.jpg"
          alt="Hokkaido Flower"
        />
        <div class="recepie-info">
          <h2 class="recepie-title">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </h2>
          <p class="recepie-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repudiandae cupiditate nulla illum qui est consectetur inventore
            optio aspernatur? Eaque sint optio nisi aut veniam iste? Error
            optio, reiciendis laborum praesentium illo amet voluptatem adipisci
            quos laudantium. Vero eius ut praesentium dolor laboriosam placeat
            eaque laborum error accusamus harum! Quasi, aliquam.
          </p>
          <ul class="ingr-list">
            <li class="ingr-item">Lorem</li>
            <li class="ingr-item">Lorem ipsum</li>
            <li class="ingr-item">Lorem ipsum</li>
            <li class="ingr-item">Lorem ipsum</li>
            <li class="ingr-item">Lorem ipsum</li>
          </ul>
          <a href="./pages/recept.html" class="full-res">Read more...</a>
        </div>
      </div> -->
    </div>
    <button class="load-more">load more</button>
  </div>
</section>
