<section class="search-section">
  <div class="container">
    <button class="search-btn first">first</button>
    <button class="search-btn second">second</button>
    <button class="search-btn third">third</button>
    <button class="search-btn fourth">fourth</button>
  </div>
</section>
<section class="main-section">
  <div class="choice">
    <svg class="start-icon rotate-scale-up">
      <use href="./images/symbol-defs.svg#arrow"></use>
    </svg>
    <p class="choice-text">Choose your category, please</p>
  </div>
  <div class="container">
    <div class="recepies-box"></div>
    <button class="load-more">load more</button>
  </div>
</section>
